$classPrefix: fletd;
// colors
$color-primary: #0f63e3;
$color-secondary: #eb3355;
$color-success: #51bd1a;
$color-danger: #e3130f;
$color-info: #2bb7e9;
$color-warning: #d2601a;
$color-default: #f2f2f2;
$color-dark: darken($color-default, 87%);
$color-white: #fff;

$lightP: 5.3%;
$darkP: 67%;
$hoverP: 15.3%;

// generated colors
@function colorLight($color, $hover: false) {
  @if $hover {
    @return lighten($color, $hoverP);
  } @else {
    @return lighten($color, $lightP);
  }
}

@function colorDark($color, $hover: false) {
  $result: lighten($color, $darkP);
  @if $hover {
    @return lighten($result, $hoverP);
  } @else {
    @return $result;
  }
}
$color-default-dark: darken($color-default, 67%);
$color-default-darkH: lighten($color-default-dark, $hoverP);
$color-darkH: lighten($color-dark, $hoverP);
